{% extends "base.html" %}

{% load static %}

{% block title %}
        Welcome
{% endblock %}

{% block header %}
        <header id="header">
                <h1><a href="index.html">Translator</a></h1>
                <nav id="nav">
                        <ul>
                                <li><a href="/cat/index">Home</a></li>
                                <li><a href="/cat/register/client">Sign Up (Client)</a><li>
                                <li><a href="/cat/register/translator">Sign Up (Translator)</a><li>
                                <li><a href="/cat/login" class="button special">Login</a></li>
                        </ul>
                </nav>
        </header>
        
{% endblock %}

{% block content %}
        <body class="landing">

                <!-- Banner -->
                        <section id="banner">

        <h2>Welcome to Translator.</h2>
        <p>A place to manage your article translations.</p>
        <ul class="actions">
                <li>
                        <a href="/cat/register/client" class="button big">Register as Client</a>
                </li>
                <li>
                        <a href="/cat/register/translator" class="button big">Register as Translator</a>
                </li>
                <br><br>
                <li>
                        <a href="/cat/login" class="button big">I already have an account</a>
                </li>
        </ul>
                        </section>

            
{% endblock %}