{% extends "base.html" %}

{% load static %}

{% block title %}
        <title>Welcome</title>
{% endblock %}

{% block content %}
        <body class="landing">

                <!-- Banner -->
                        <section id="banner">

        <h2>Welcome to Translator.</h2>
        <p>A place to manage your article translations.</p>
        <ul class="actions">
                <li>
                        <a href="#" class="button big">I'm a Client</a>
                </li>
                <li>
                        <a href="#" class="button big">I'm a Translator</a>
                </li>
        </ul>

                        </section>

            
{% endblock %}