{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block javascript %} 

<SCRIPT LANGUAGE="JavaScript">
document.location.href="/cat/index"
</SCRIPT>

{% endblock %}

{% block header %}
        <header id="header">
                <h1><a href="/cat/index">Translator</a></h1>
                <nav id="nav">
                        <ul>
                                <li><a href="/cat/index">Home</a></li>
                                <li><a href="#">Generic</a></li>
                                <li><a href="#">Elements</a></li>
                                <li><a href="#" class="button special">Sign Up</a></li>
                        </ul>
                </nav>
        </header>
                        
{% endblock %}

{% block content %}

<section id="main" class="wrapper">
<div class="container">

    <h2> You have been logged out </h2>
    
</div>
</section>
{% endblock %}