{% extends 'base.html' %}

{% block header %}

        <header id="header">
                <h1><a href="index.html">Registration Success!</a></h1>
                <nav id="nav">
                        <ul>
                                <li><a href="/cat/index">Home</a></li>
                                <li><a href="#">Generic</a></li>
                                <li><a href="#">Elements</a></li>
                                <li><a href="#" class="button special">Sign Up</a></li>
                        </ul>
                </nav>
        </header>
                        
{% endblock %}

{% block content %}

<section id="main" class="wrapper">
<div class="container">
<h2> You have been successfully registered! </h2>

<a href = "/cat/login" class = "button">Login</a> 
<br><br>
<a href = "/cat/index" class = "button">Back</a>

</section>
</div>

{% endblock %}