{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Unassigned articles {% endblock %}

{% block header %}
	<header id="header">
		<h1><a href="index.html">Translator</a></h1>
		<nav id="nav">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="#">Generic</a></li>
				<li><a href="#">Elements</a></li>
				<li><a href="#" class="button special">Sign Up</a></li>
			</ul>
		</nav>
	</header>
			
{% endblock %}

{% block content %}
<section id="main" class="wrapper">
<div class="container">

    <h2> Articles to be translated </h2>

{% if article_list %}
    
    {% for article in article_list %}
    
        <ul>
	<li><a href = "/cat/manage/assign/{{article.id}}">{{article.title}}</a></li> 
	</ul>
        
    {% endfor %}
    
</div>
</section>

{% else %}
    
    <header class="major">
	    <h2>No article to translate</h2>
    </header>>
        
</div>
</section>
{% endif %}

{% endblock %}