{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Untranslated articles {% endblock %}

{% block header %}
        <header id="header">
                <h1><a href="index.html">Translator</a></h1>
                <nav id="nav">
                        <ul>
                                <li><a href="/cat/index">Home</a></li>
                                <li><a href="/cat/logout" class="button special">Logout</a></li>
                        </ul>
                </nav>
        </header>
                        
{% endblock %}

{% block content %}
<section id="main" class="wrapper">
<div class="container">

    <h2> Articles to be translated </h2>

{% if article_list %}
        
        {% autoescape off %}
    
    {% for article in article_list %}
    
        <ul>
        <p><li><a href = "/cat/translate/{{article.id}}">{{article.origin.title}}</a></li></p>
        </ul>
        
    {% endfor %}
        
        {% endautoescape %}
    
</div>
</section>

{% else %}
    
    <header class="major">
            <h2>No article to translate</h2>
    </header>
        
</div>
</section>
{% endif %}

{% endblock %}